body {
    font-family: Arial, sans-serif;
    background: rgb(222, 240, 204);
    color: #222222;
    font-size: 16px;
}

h1 {
    color: rgb(143, 70, 9);
    font-size: 30px;
}

h2 {
    font-size: 24px;
    color: rgb(111, 187, 9);
}

h3 {
    font-size: 20px;
    color: rgb(44, 70, 3);
}

.container {
    margin: 0 auto;
    width: 1175px;
}
.navbar {
    display: block;
    background: #34e010;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: #ffc122;
    text-decoration: underline;
}